@font-face {
  font-family: 'ChironSungHK';
  src: url('../fonts/Chiron_Sung_HK/ChironSungHK-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* 使用字體的範例 */
.custom-font {
  font-family: 'CustomFont', sans-serif;
} 